@import "tailwindcss";
@import url('https://api.fontshare.com/v2/css?f[]=plus-jakarta-sans@400,500,600,700&display=swap');

body {
  background: #F9FAFB;
  color: var(--foreground);
  font-family: 'Satoshi', sans-serif;
}

.font-jakarta {
  font-family: 'Plus Jakarta Sans', sans-serif;
}